{% extends 'users/_users.html' %}

{% block main %}

    <form id='id_change_password_form'>
        <h2>Change Password</h2>

        {% if form.errors %}
            {% for error in form.errors %}
                <div class="error">{{error}}</div>
            {% endfor %}
        {% endif %}

        {% csrf_token %}

        <div class="old-password">
            {{form.old_password.label_tag}}
            <div class="password-show old-password-input"></div>
            {{form.old_password}}
            {% if form.old_password.errors %}
                {% for error in form.old_password.errors %}
                    <div class="error">{{error}}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="new-password1">
            {{form.new_password1.label_tag}}
            <div class="password-show new-password1-input"></div>
            {{form.new_password1}}
        </div>
        <div class="new-password2">
            {{form.new_password2.label_tag}}
            <div class="password-show new-password2-input"></div>
            {{form.new_password2}}
        </div>

        <div class="form-bottom">
            <button type='submit'>Save</button>
        </div>
    </form>
    
{% endblock main %}