{% extends 'users/_users.html' %}


{% block main %}

    <form id='id_login_form' method="post">
        <h2>Log in</h2>
        
        {% if form.errors %}
            {% for error in form.errors %}
                <div class="error">{{error}}</div>
            {% endfor %}
        {% endif %}

        {% csrf_token %}

        <div class="username">
            {{form.username.label_tag}}
            {{form.username}}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <div class="error">{{error}}</div>
                {% endfor %}
            {% endif %}
        </div>

        {% comment %} <div class="password">
            {{form.password.label_tag}}
            <div class="password">
                <div class='password-show'></div>
                {{form.password}}
            </div>
        </div> {% endcomment %}

        <div class="password-container password-hidden old-password">
            {{form.password.label_tag}}
            <div class="password-icon old-password-input">
                <div class="icon __passwordHidden"></div>
                <div class="icon __passwordShow"></div>
            </div>
            {{form.password}}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <div class="error">{{error}}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-bottom">
            <button type='submit'>Log in</button>
            <a href="{% url 'users:register' %}">Sign in</a>
        </div>
    </form>

{% endblock main %}