<div class="product-container" class="pt-2 pb-2 bg-white border-bottom border-dark">
    <!-- Image -->
    <div id="image-container" class="d-flex p-0 m-0">
        <!-- Contain images -->
        <ng-template *ngIf="product.image; else elseBlock">
            <img src="{{image}}" alt="" *ngFor="let image of product.image" >
        </ng-template>
        <!-- Not images -->
        <ng-template #elseBlock>
            <img src="" alt="">
        </ng-template>
    </div>
    <!-- Product infor -->
    <div id="product-information" class="ps-2 pe-2">
        <div id="product-name">
            <h2 class="text-capitalize">{{product.name}}</h2>
        </div>
        <div id="rating" class="d-flex">
            <div #stars id="stars" class="d-flex"></div>
            <div id="rating-count">( {{product.rating_count}} lượt đánh giá )</div>
        </div>
        <!-- Price -->
        <div id="price">
            <h4 class="mb-0 mt-2" id="current-price">{{product.price | currency}}</h4>
            <div><span id="old-price" class="text-decoration-line-through">{{product.old_price | currency}}</span><span class="ms-2" id="discount-percentage">{{discount()}}</span></div>
        </div>
        <!-- Action -->
        <div class="action-buttons">
            <button [ButtonElement]="'primary'" style="width:8rem">Thêm Vào Giỏ</button>
            <button [ButtonElement]="'secondary'">Yêu Thích</button>
        </div>
    </div>
</div>
<ng-content>
    <!-- For similar products container and comments -->
</ng-content>
<div #productDescriptionRef id="product-description" class="mt-3 bg-white border border-dark pt-2 pb-2 ps-3 pe-3" *ngIf="product.description">
    <h3>Thông tin sản phẩm</h3>
    <p id="description" class="mb-2">{{product.description}}</p>
    <div class="description-collapse-toggle text-center fs-4 text-decoration-underline text-primary mb-0">
        <p *ngIf="descriptionCollapse" (click)="toggleCollapse()">Xem thêm</p>
        <p *ngIf="!descriptionCollapse" (click)="toggleCollapse()">Đóng</p>
    </div>
</div>
