<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS Base-->
    <link rel="stylesheet" type="text/css" href="{% static "css/_base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <!-- CSS added -->
    {% block super_css %}{% endblock super_css %}
    {% block css %}{% endblock css %}
</head>
<body>
    <!-- Header -->
    <header>
        <h4>Example Store</h4>
        <nav>
            <div class="nav__search__container">
                <form class='search_form' action="">
                    <label for="search_input">
                        <div id="mobile__search__icon" class="icon nav__search"></div>
                        <input id='search_input' type="text" placeholder="Search">
                    </label>
                </form>
            </div>
        </nav>
    </header>
    <!-- Main -->
    <main>
        {% block main %}{% endblock main %}
        <!-- Bottom Nav for mobile device -->
    </main>
    <div class="mobile__nav">
        <a href="{% url 'core:home' %}" class="icon mobile__nav__home"></a>
        <a href="" class="icon mobile__nav__menubar"></a>
        <a href="" class="icon mobile__nav__chat"></a>
        <a href="" class="icon mobile__nav__cart"></a>
        <a href="{% url 'users:profile' %}" class="icon mobile__nav__user"></a>
    </div>
    <!-- Footer -->
    <footer>
    </footer>
    <!--Javascript Base-->
    <script src="{% static 'js/_base.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block super_js %}{% endblock super_js %}
    {% block js %}{% endblock js %}
    <!-- Javascript Added -->
</body>

</html>