# MAIN
.vscode/
.env/
source_code/
rest_framework/
# DJANGO
*.pyc
__pycache__/
db.sqlite3
migrations/
# Node Module
frontend/node_modules/
# Blue_print
/blue_print
# !/Blue_print/mobile.xd
# !/Blue_print/web.xd
# !/Blue_print/icons/
