# MAIN
.vscode/
.env/
source_code/
rest_framework/

# DJANGO
*.pyc
__pycache__/
db.sqlite3
migrations/
backend/apps/static/image

# Node Module
frontend/node_modules/
frontend/dist/

# Nginx
/nginx/frontend
/nginx/static