.thumbnail-container {
    width: 4rem;
    height: 4rem;
}
.cart-item-information {
    flex: 1 1 auto
}
.quantity-change-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: gray;
    cursor: pointer;
}
