<div class="thumbnail-container" style="height:4rem">
    <img src="{{env.django}}{{cartItem.product.thumbnail}}" alt="" style="height:4rem">
</div>
<div class="cart-item-information ps-3 me-2">
    <div class="name-and-delete-container d-flex align-content-center">
        <h6 class="name m-0 text-capitalize" style="height:50%">
            {{cartItem.product.name}}
            <p *ngIf="cartItem.product.quantity == 0" class="text-danger">(Hết hàng)</p>
            <p *ngIf="quantity > cartItem.product.quantity" class="text-danger">(Chỉ còn {{cartItem.product.quantity}} món)</p>
        </h6>
        <div #deleteContainer class="delete move-down-when-click ms-auto" (click)="deleteCartItem()" style="height: 1.5rem;"></div>
    </div>
    <div class="p-1 ms-auto d-flex">
        <div class="quantity-change-container d-flex">
            <div class="quantity-change-button decrease-quantity move-down-when-click me-1" (click)="changeQuantity(-1)"><span class="subtract-symbol"></span></div>
            <div class="quantity d-flex align-items-center"><pre class="m-0 fw-bold"> {{quantity}} </pre></div>
            <div class="quantity-change-button incrase-quantity move-down-when-click ms-1" (click)="changeQuantity(1)"><span class="plus-symbol"></span></div>
        </div>
        <div class="price m-0 fw-bold ms-auto">{{getPrice() | currency}}</div>
    </div>
</div>