<h1 class="color-cl-blue-light mb-4">Đăng Nhập</h1>
<div InputContainer id="username" >
    <label for="username-input">Email hoặc Điện thoại</label>
    <div class="error"></div>
    <input InputElement id="username-input" type="text">
</div>
<div InputContainer id="password">
    <label for="password-input">Mật khẩu</label>
    <div class="error"></div>
    <input #password InputElement type="password">
    <div HideShowInput [TargetElement]="password"></div>
</div>
<div class="button-container">
    <button [ButtonElement]="'primary'">Đăng nhập</button>
    <button [ButtonElement]="'secondary'" (click)="navSer.navigateTo('users:register')">Đăng ký</button>
</div>