<div class="heading d-flex">
    <h5 class="text-center flex-grow-1">Thông Tin Thanh Toán</h5>
</div>
<!-- CART INFORMATION -->
<div id="cart-information">
    <div class="cart-information-summary d-flex align-items-center">
        <div #cartIconContainer class="cart-icon me-2" style="width:2rem; height:2rem"></div>
        <p (click)="toggleOrderDetail()" class="order-information m-0">Thông tin đơn hàng <i class="arrow-symbol" [ngClass]="isOrderDetailOpen? 'up': 'down'"></i></p>
        <p class="ms-auto mt-0 mb-0 fw-bold">{{orderService.calcTotalItemPrice() | currency}}</p>
    </div>
    <hr class="mt-2 mb-3" *ngIf="isOrderDetailOpen">
    <div class="cart-information-list" *ngIf="isOrderDetailOpen">
        <app-order-item *ngFor="let item of this.orderService.cartItemList" [orderItem]="item"></app-order-item>
    </div>
</div>
<!-- ADDRESS INFORMATION -->
<!-- Use User Address -->
<div id="address-information" class="pt-3 pb-3">
<h6>Thông tin giao hàng</h6>
    <div id="user-address-information">
        <label *ngIf="canUseUserAddress" for="use-other-address" value="true" (change)="useUserAddressChange($event)">
            <input type="checkbox" id="use-other-address" class="m-2">
            <label for="use-other-address">Sử dụng địa chỉ khác</label>
        </label>
        <div *ngIf="useUserAddress" class="address-information mt-2 p-2 lh-1 border border-1 border-dark bg-light">
            <p>Email: {{userInformation.email}}</p>
            <p>Điện thoại: {{userInformation.phone}}</p>
            <p>Địa chỉ: {{userInformation.street}}</p>
            <p>Thành phố: {{userInformation.city.name}}</p>
            <p>Tỉnh: {{userInformation.province.name}}</p>
        </div>
    </div>
<!-- Input Address -->
    <form *ngIf="!useUserAddress" action="" [formGroup]="shippingInformationForm">
        <div InputContainer class="email-input-container">
            <div *ngIf="email.invalid && email.dirty && email.touched" class="error">
                <p *ngFor="let errorKey of (email.errors | objectToKeys)">
                    {{email.errors[errorKey]}}
                </p>
            </div>
            <input InputElement placeholder="Email" type="email" name="email" formControlName="email">
        </div>
        <div InputContainer class="phone-input-container">
            <div *ngIf="phone.invalid && phone.dirty && phone.touched" class="error">
                <p *ngFor="let errorKey of (phone.errors | objectToKeys)">
                    {{phone.errors[errorKey]}}
                </p>
            </div>
            <input InputElement placeholder="Điện thoại" type="text" name="phone" formControlName="phone">
        </div>
        <div formGroupName="address" class="form">
            <div InputContainer class="street-input-container">
                <input InputElement placeholder="Địa chỉ" type="text" name="street" formControlName="street">
            </div>
            <div InputContainer class="province-input-container">
                <select selectElement name="Province" id="province" formControlName="province" (change)="updateCityInformation()">
                    <option value="" >Chọn tỉnh</option>
                    <option *ngFor="let province of addressService.provinceCityData" value="{{province.id}}">{{province.name}}</option>
                </select>
            </div>
            <div class="city-input-container">
                <select selectElement name="City" id="city" formControlName="city">
                    <option value="" >Chọn thành phố</option>
                    <option *ngFor="let city of addressService.cityData" value="{{city.id}}">{{city.name}}</option>
                </select>
            </div>
        </div>
    </form>
</div>
<!-- ORDER SUMMARY -->
<div id="order-summary">
    <div class="order-price d-flex">
        <p>Tiền hàng</p>
        <p class="ms-auto">{{orderService.calcTotalItemPrice(true) | currency}}</p>
    </div>
    <div class="shipping-price d-flex">
        <p>Phí vận chuyển</p>
        <p class="ms-auto">{{orderService.calcShippingFee() | currency}}</p>
    </div>
    <hr class="m-1" style="width:80">
    <div class="order-total d-flex mt-3">
        <p class="fw-bold">Tổng tiền</p>
        <p class="fw-bold ms-auto">{{orderService.calcTotalPrice(true) | currency}}</p>
    </div>
    <div class="order-action d-flex pb-2">
        <button (click)="submitOrder()" class="ms-auto" [ButtonElement]="'primary'" style="width: 8rem; border-radius: 1rem;" [disabled]="((!shippingInformationForm.valid) || (!address.valid)) && (!useUserAddress)">Đặt hàng</button>
    </div>
</div>