<form class="form-custom" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1 class="color-cl-blue-light mb-3">Đăng ký</h1>
    <div #formErrorContainer id="form-errors" class="error"></div>
    <!-- Email Input -->
    <div InputContainer id="email">
        <label for="email-input">Email</label>
        <div *ngIf="email.invalid && email.dirty && email.touched" class="error">
            <p *ngFor="let errorKey of (email.errors | objectToKeys)">
                {{email.errors[errorKey]}}
            </p>
        </div>
        <input formControlName="email" id="email-input" InputElement type="text">
    </div>
    <!-- Password Input -->
    <div InputContainer id="password">
        <label for="password-input">Mật Khẩu Mới</label>
        <div *ngIf="pass.invalid && pass.dirty && pass.touched" class="error">
            <p *ngFor="let errorKey of (pass.errors | objectToKeys)">
                {{pass.errors[errorKey]}}
            </p>
        </div>
        <div HideShowInput [TargetElement]="password"></div>
        <input #password InputElement id="password-input" type="password" formControlName="pass">
    </div>
    <!-- ConfirmPass Input -->
    <div InputContainer id="confirm-password">
        <label for="confirm-password-input">Xác Nhận Mật Khẩu</label>
        <div *ngIf="confirmPass.invalid && confirmPass.dirty && confirmPass.touched" class="error">
            <p *ngFor="let errorKey of (confirmPass.errors | objectToKeys)">
                {{confirmPass.errors[errorKey]}}
            </p>
        </div>
        <div HideShowInput [TargetElement]="confirmPassword"></div>
        <input #confirmPassword InputElement  id="confirm-password-input" type="password" formControlName="confirmPass">
    </div>
    <!-- Buttons -->
    <div class="button-container">
        <button [ButtonElement]="'primary'" [Type]="'submit'">Đăng Ký</button>
        <button [ButtonElement]="'secondary'" (click)="location.back()">Huỷ</button>
    </div>
</form>