<form class="form-custom" [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
    <h1 class="color-cl-green-light mb-3">Đổi Mật Khẩu</h1>
    <div #formErrorContainer id="form-errors" class="error"></div>
    <!-- oldPassword Input -->
    <div InputContainer id="old-password">
        <label for="old-password-input">Mật Khẩu Cũ</label>
        <div *ngIf="oldPass.invalid && oldPass.dirty && oldPass.touched" class="error">
            <p *ngFor="let errorKey of (oldPass.errors | objectToKeys)">
                {{oldPass.errors[errorKey]}}
            </p>
        </div>
        <div HideShowInput [TargetElement]="oldPassword"></div>
        <input #oldPassword InputElement type="password" id="old-password-input" formControlName="oldPass">
    </div>
    <!-- newPassword Input -->
    <div InputContainer id="new-password">
        <label for="new-password-input">Mật Khẩu Mới</label>
        <div *ngIf="newPass.invalid && newPass.dirty && newPass.touched" class="error">
            <p *ngFor="let errorKey of (newPass.errors | objectToKeys)">
                {{newPass.errors[errorKey]}}
            </p>
        </div>
        <div HideShowInput [TargetElement]="newPassword"></div>
        <input #newPassword InputElement type="password" id="new-password-input" formControlName="newPass">
    </div>
    <!-- confirmPass Input -->
    <div InputContainer id="confirm-password">
        <label for="confirm-password-input">Xác Nhận Mật Khẩu</label>
        <div *ngIf="confirmPass.invalid && confirmPass.dirty && confirmPass.touched" class="error">
            <p *ngFor="let errorKey of (confirmPass.errors | objectToKeys)">
                {{confirmPass.errors[errorKey]}}
            </p>
        </div>
        <div HideShowInput [TargetElement]="confirmPassword"></div>
        <input #confirmPassword InputElement type="password" id="confirm-password-input" formControlName="confirmPass">
    </div>
    <!-- buttons -->
    <div class="button-container">
        <button [ButtonElement]="'primary'" Type="'submit'">Thay đổi</button>
        <button [ButtonElement]="'secondary'" (click)="location.back()">Huỷ</button>
    </div>
</form>