<h1 class="color-cl-blue-light mb-4">Đổi Mật Khẩu</h1>
<div InputContainer id="old-password">
    <label for="old-password-input">Mật Khẩu Cũ</label>
    <div class="error"></div>
    <div HideShowInput [TargetElement]="oldPassword"></div>
    <input #oldPassword InputElement type="password">
</div>
<div InputContainer id="new-password">
    <label for="new-password-input">Mật Khẩu Mới</label>
    <div class="error"></div>
    <div HideShowInput [TargetElement]="newPassword"></div>
    <input #newPassword InputElement type="password">
</div>
<div InputContainer id="confirm-password">
    <label for="confirm-password-input">Xác Nhận Mật Khẩu</label>
    <div class="error"></div>
    <div HideShowInput [TargetElement]="confirmPassword"></div>
    <input #confirmPassword InputElement type="password">
</div>
<div class="button-container">
    <button [ButtonElement]="'primary'">Thay đổi</button>
    <button [ButtonElement]="'secondary'" (click)="location.back()">Huỷ</button>
</div>