<form class="form-custom" [formGroup]="profileForm">
    <h1 class="color-cl-blue-light mb-4">Thông Tin Cá Nhân</h1>
    <div id="form-errors" class="error"></div>
    <!-- Phone Input -->
    <div InputContainer id="phone" >
        <label for="phone-input">Điện Thoại</label>
        <div *ngIf="phone.invalid && phone.dirty && phone.touched" class="error">
            <p *ngFor="let errorKey of (phone.errors | objectToKeys)">
                {{phone.errors[errorKey]}}
            </p>
        </div>
        <input InputElement id="phone-input" type="text">
    </div>
    <!-- Address Input -->
    <div InputContainer id="address">
        <label for="address-input">Địa Chỉ</label>
        <input #address InputElement id="address-input" type="text" formControlName="address">
    </div>
    <!-- Province and City Input -->
    <div style="width:65%" class="d-flex">
        <div InputContainer class="half-input-container">
            <label for="province-input">Tỉnh</label>
            <select #address InputElement id="province-input" type="text" formControlName="province">
                <option value="Binh Dinh">Binh Dinh</option>
            </select>
        </div>
        <div InputContainer class="half-input-container">
            <label for="city-input">Thành Phố</label>
            <select #address InputElement id="city-input" type="text">
                <option value="Quy Nhon">Quy Nhon</option>
            </select>
        </div>
    </div>
    <div class="button-container">
        <button [ButtonElement]="'primary'">Lưu</button>
        <button [ButtonElement]="'secondary'" (click)="location.back()">Huỷ</button>
    </div>
</form>
