<form class="form-custom" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h1 class="color-cl-green-light mb-3">Thông Tin Cá Nhân</h1>
    <div #formErrorContainer id="form-errors" class="error"></div>
    <!-- Phone Input -->
    <div InputContainer id="phone" >
        <label for="phone-input">Điện Thoại</label>
        <div *ngIf="phone.invalid && phone.dirty && phone.touched" class="error">
            <p *ngFor="let errorKey of (phone.errors | objectToKeys)">
                {{phone.errors[errorKey]}}
            </p>
        </div>
        <input InputElement id="phone-input" type="text" formControlName="phone">
    </div>
    <!-- Street Input -->
    <div InputContainer id="street">
        <label for="street-input">Địa Chỉ</label>
        <input InputElement id="street-input" type="text" formControlName="street">
    </div>
    <!-- Province and City Input -->
    <div style="width:65%" class="d-flex">
        <div InputContainer class="half-input-container">
            <label for="province-input">Tỉnh</label>
            <select  #provinceSelect InputElement id="province-input" formControlName="province" (change)="updateCityInformation()">
                <option value="" >Chọn tỉnh</option>
                <option *ngFor="let province of addressService.provinceCityData" value="{{province.id}}">{{province.name}}</option>
            </select>
        </div>
        <div InputContainer class="half-input-container">
            <label for="city-input">Thành Phố</label>
            <select #citySelect InputElement id="city-input" formControlName="city" >
                <option value="" >Chọn thành phố</option>
                <option *ngFor="let city of addressService.cityData" value="{{city.id}}">{{city.name}}</option>
            </select>
        </div>
    </div>
    <div class="button-container">
        <button [ButtonElement]="'primary'" [Type]="'submit'">Lưu</button>
        <button [ButtonElement]="'secondary'" (click)="location.back()">Huỷ</button>
    </div>
</form>
