#image-container {
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
}
#image-container > img {
    scroll-snap-align: start;
    width: 100vw;
}
#stars {
    width: 8rem;
}
#product-description > p {
    overflow-wrap: break-word;
}
.action-button {
    height: 1rem;
}