<h3 id="title" class="text-center m-2">Đơn hàng của tôi</h3>
<div class="order-information">
    <div *ngFor="let order of userOrder" class="order-detail-container" (click)="navigateToOrderTracking(order.id)">
        <div class="order-id-and-created-time ms-2">
            <p class="order-id">{{order.id}}</p>
            <span class="created-time">Thời điểm tạo đơn: {{order.created_time | date:'dd-LL-yyyy'}}</span>
        </div>
        <div class="total-price ms-auto me-3">
            {{order.total_price | currency}}
        </div>
    </div>
</div>