/* You can add global styles to this file, and also import other style files */
:root {
  --cl-green-dark: 144, 55%, 29%;
  --cl-green-light: 140, 58%, 38%;
  --cl-green-normal: 140, 47%, 39%;
  --cl-primary-color:var(--cl-green-light);
  --cl-secondary-color:var(--cl-green-dark);
}
body {
  background-color: var(--bs-gray-200);
  max-width: 100vw;
}
main {
  max-width: 100vw;
  min-height: 50vh;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
  fill: var(--bs-light);
  stroke-width: 0.25px;
}
.activated-app path, .activated-app svg, .activated-app polygon{
  color: rgb(187, 187, 187) !important;
  fill: rgb(187, 187, 187) !important;
}
.w-0 {
  width: 0;
}
.h-0 {
  height: 0;
}
/* Colors */
.primary-color {
  color: hsl(var(--cl-green-light));
}
.secondary-color {
  color:hsl(var(--cl-green-dark))
}
/************ 
FORM SECTION
 ************/
.form-custom {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}
.input-container {
  width: 65%;
}
.half-input-container {
  width: 50%;
}
.half-input-container + .half-input-container {
  margin-left: 1rem;
}
.input-container > * {
  margin-bottom: 0.25rem;
}
.input-container > label {
  display: block;
  font-weight: 500;
  color: hsl(var(--cl-primary-color));
}
.error {
  color: rgba(var(--bs-danger-rgb), 0.9);
}
.error > p {
  margin-bottom: 0.25rem;
  max-width: 100%;
}
.input-custom {
  border: 1px solid;
  border-color: hsl(var(--cl-primary-color));
  color: hsl(var(--cl-primary-color), 0.7);
  border-radius: 0.3rem;
  font-size: 1rem;
  text-indent: 0.5rem;
  height: 2rem;
  width: 100%;
}
/* Button Element Directive */
.button-custom {
  display: inline-block;
  border: 2px solid;
  border-radius: 0.5rem;
  padding: 0.25rem;
  height: 2.5rem;
  width: 7rem;
}
.button-custom.primary {
  background-color: hsl(var(--cl-primary-color));
  color: var(--bs-white);
}
.button-custom.primary:hover {
  background-color: hsl(var(--cl-primary-color), 0.7);
}
.button-custom.secondary {
  background-color: var(--bs-white);
  color: hsl(var(--cl-primary-color));
}
.button-custom.secondary:hover {
  background-color: var(--bs-gray-200);
}
button + button {
  margin-left: 1rem;
}
/* HideShowInput Directive */
.hide-show-input {
  width: 2rem;
  height: 2rem;
}
.hide-show-input > svg {
  display: none;
  width: 100%;
  height: 100%;
}
.hide-show-input > svg:first-child {
  display: block;
}
.hide-show-input.show-input > svg:last-child {
  display: block;
}
.hide-show-input.show-input > svg:first-child {
  display: none;
}
/* Close Button */
.close-button {
  background-color: #fff;
  border: 0.25px rgba(0, 0, 0, 0.5) solid;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}
.close-button > svg {
  fill: rgba(0, 0, 0, 0.5);
  height: 70%;
  width: 70%;
}
.close-button:hover {
  background-color: var(--bs-gray-200);
}
.close-button:hover > svg {
  fill: var(--bs-gray-800);
}
/* Effect */
.move-down-when-click:active{
  transform: translateY(0.2rem);
}
/* Symbols */
.plus-symbol, .subtract-symbol{
  position: relative;
}
.plus-symbol:after, .plus-symbol:before, .subtract-symbol::before {
  position: absolute;
  content: ' ';
  top: -0.5rem;
  height: 1rem;
  width: 0.125rem;
  background-color:#fff;
}
.plus-symbol:after, .subtract-symbol::before {
  transform: rotate(90deg);
}
.arrow-symbol {
  padding: 0.2rem;
  border-color: inherit;
  border-style: solid;
  border-width: 0.1rem 0.1rem 0 0;
  display: inline-block;
  margin: 0.125rem 0.25rem;
}
.arrow-symbol.up {
  transform: rotate(-45deg);
}
.arrow-symbol.down {
  transform: rotate(135deg);
}
.arrow-symbol.left {
  transform: rotate(-135deg);
}
.arrow-symbol.right {
  transform: rotate(45deg);
}
.shaft-arrow-symbol{
  position: relative;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid black;
}
.shaft-arrow-symbol::after {
  position: absolute;
  top:-0.1rem;
  left: 0.25rem;
  background-color: black;
  content: ' ';
  width: 2rem;
  height: 0.25rem;
}
/* Form validation */
.ng-valid:not(form, .form, .not-outline-green).ng-dirty {
  border: 1.5px solid #42A948; /* green */
}
.ng-invalid:not(form, .form).ng-dirty  {
  border: 1.5px solid red!important; /* red */
}
button:disabled {
  background-color: grey!important;
}
