<div id="user-infor" class="d-flex align-items-center border-bottom border-dark border-1">
    <div #avatarIcon id="avatar" class="d-flex align-items-center justify-content-center border border-dark border-1 rounded-circle"></div>
    <div id="user-email" class="ms-3 mt-3"><p class="fs-6">Thông tin tài khoản</p>
    <p>Email: {{userEmail}}</p></div>
</div>
<div PanelRow id="profile"  (click)="navSer.navigateTo('users:profile')"><p>Thông Tin Cá Nhân</p></div>
<div PanelRow id="cart" ><p>Giỏ hàng</p></div>
<div PanelRow id="change-password"  (click)="navSer.navigateTo('users:changePassword')"><p>Đổi Mật Khẩu</p></div>
<div PanelRow id="item-liked" ><p>Yêu Thích</p></div>
<div PanelRow id="logout" (click)="navSer.navigateTo('users:logout')"><p>Đăng Xuất</p></div>