<div [ngClass]="(isBoxShadowShown)? '':'d-none'" (click)="destroyMessage(boxShadowDestroMessage?true:false)" class="position-absolute top-0 left-0 vw-100 vh-100 bg-dark opacity-25"></div>
<div class="message-container position-absolute translate-middle rounded p-3 shadow-lg bg-body" style="top:50vh; left:50vw; width:80vw">
    <div #iconContainer [ngClass]="!icon? 'd-none':''" class="ms-auto me-auto" style="height:2rem; width:2rem"></div>
    <div #contentContainer>
        <p class="text-center fs-5" style="white-space:pre-line">{{content}}</p>
    </div>
    <div [ngClass]="(!actionFunction)? 'd-none':''" class="d-flex justify-content-center ms-auto me-auto" >
        <button (click)="actionFunction()" [ButtonElement]="'primary'">Có</button>
        <button (click)="destroyMessage()" [ButtonElement]="'secondary'">Không</button>
    </div>
</div>
