:host {
  background-color: rgba(var(--bs-dark-rgb), 0.5);
  min-height: 100% !important;
  z-index: 10;
  visibility: hidden;
}
.close-button-position {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  box-shadow: 5px 5px 5px var(--bs-gray-900);
}
.message-container {
  background: #fff;
  color: inherit;
  position: fixed;
  border: 0.5px solid var(--bs-gray-300);
  top: 50%;
  left: 50%;
  padding: 2rem;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 5px var(--bs-gray-900);
}
.icon-container {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}
.icon-container {
  margin-bottom: 0.5rem;
}
