<div id="nav-bar">
    <div id="logo">
        <h4 style="text-align: center; color: white;">ExampleStore</h4>
    </div>
    <div id="search-form-container" class="d-flex align-items-center">
        <form id="search-form" style="position: relative;">
            <div #iconContainer class="icon-container" [innerHTML]="searchIcon | safeIconHTML" style="position: absolute;"></div>
            <input type="text" placeholder="Tìm kiếm">
        </form>
    </div>
</div>
<app-mobile-bottom-nav></app-mobile-bottom-nav>