<div id="nav-bar">
    <div id="logo" (click)="navigateToHomePage()">
        <h4 style="text-align: center; color: white;">StoreExample</h4>
    </div>
    <div id="search-form-container" class="d-flex align-items-center">
        <form [formGroup]="searchForm" id="search-form" style="position: relative;" (ngSubmit)="submitSearchProduct()">
            <div #searchIconContainer class="icon-container" style="position: absolute;" (click)="submitSearchProduct()"></div>
            <input type="text" placeholder="Tìm kiếm" formControlName="searchInput">
        </form>
    </div>
</div>
<app-mobile-bottom-nav></app-mobile-bottom-nav>