<form class="form-custom" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 class="color-cl-blue-light mb-4">Đăng Nhập</h1>
    <div #formErrorContainer id="form-errors" class="error"></div>
    <!-- username Input -->
    <div InputContainer id="username" >
        <label for="username-input">Email hoặc Điện Thoại</label>
        <div *ngIf="username.invalid && username.dirty && username.touched" class="error">
            <p *ngFor="let errorKey of (username.errors | objectToKeys)">
                {{username.errors[errorKey]}}
            </p>
        </div>
        <input InputElement formControlName="username" id="username-input" type="text" required>
    </div>
    <!-- password Input -->
    <div InputContainer id="password">
        <label for="password-input">Mật Khẩu</label>
        <div *ngIf="password.invalid && password.dirty && password.touched" class="error">
            <p *ngFor="let errorKey of (password.errors | objectToKeys)">
                {{password.errors[errorKey]}}
            </p>
        </div>
        <input #passwordEle InputElement type="password" id="password-input" formControlName="password" required>
        <div HideShowInput [TargetElement]="passwordEle"></div>
    </div>
    <!-- Buttons -->
    <div class="button-container">
        <button [ButtonElement]="'primary'" Type="submit">Đăng Nhập</button>
        <button [ButtonElement]="'secondary'" (click)="navSer.navigateTo('users:register')">Đăng Ký</button>
    </div>
</form>