<div class="cart-heading m-2">
    <h2 class="primary-color text-center">
        Giỏ Hàng
    </h2>
</div>
<!-- Empty cart -->
<div *ngIf="!cartService.cartItemList" class="center-element-container d-flex flex-column align-items-center m-5">
    <div class="empty-cart-icon-container mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g id="Empty_Cart" data-name="Empty Cart"><path d="M29.89,5.5l-20,0C9.76,4.3,9.59,3.14,9.43,2H1.9l.54,2.48H6.77l3,20.82H26.64l.54-2.48H12.42c-.1-.73-.23-1.6-.37-2.57H27.63Z" style="fill:#00aeef"/><circle cx="23.64" cy="27.64" r="1.78" style="fill:#00aeef"/><circle cx="13.54" cy="27.64" r="1.78" style="fill:#00aeef"/><circle cx="15.67" cy="10.92" r="1.21" style="fill:#fff"/><circle cx="21.44" cy="10.92" r="1.21" style="fill:#fff"/><path d="M15,16.63a4.44,4.44,0,0,1,3.92-2.21,4.37,4.37,0,0,1,3.73,2.26,9.79,9.79,0,0,0-2.75-1.08,6.62,6.62,0,0,0-2.69.1" style="fill:#fff"/></g></svg>
    </div>
    <p class="opacity-50 mb-4">Không có gì cả? :((</p>
    <div class="mt-5">
        <button [ButtonElement]="'primary'" class="rounded-pill" style="width: 10rem; height: 2.25rem;">Mua sắm</button>
    </div>
</div>
<!-- Cart with goods -->
<div *ngIf="cartService.cartItemList" >
    <!-- Item-list -->
    <div class="item-cart-list" style="min-height:50vh">
        <app-item-cart></app-item-cart>
    </div>
    <!-- Summary -->
    <div class="d-flex align-items-center p-2 border">
        <div class="ms-3">
            <p class="m-0 opacity-50 fw-bold">Tổng tiền hàng:</p>
            <p class="m-0 fw-bold">750.000đ</p>
        </div>
        <div class="action-button-container ms-auto me-2">
            <button [ButtonElement]="'primary'" class="rounded-pill p-0" style="width:10rem; height:2rem">Thanh toán</button>
        </div>
    </div>
</div>